


<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<script>
    
$( document ).ready(function() {
// All jQuery and ajax code will be here .. 
    
    
    
    // Show and hide comment form 
    $("#addCommentButton").on("click",function(){
        $("#commentForm").css("display","inline");
    });
    
    
    
});
    

    
    
</script>
 
    </body>
</html>